<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674043765675-0ugikeehovohnel8r07av2d52trlu68d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674043765675-0ugikeehovohnel8r07av2d52trlu68d</string>
	<key>API_KEY</key>
	<string>AIzaSyBSUWB20ZOoOgIHW7WwevY9a8qh-b4ONRM</string>
	<key>GCM_SENDER_ID</key>
	<string>674043765675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.foodtech.foodieapp</string>
	<key>PROJECT_ID</key>
	<string>foodieapp-test</string>
	<key>STORAGE_BUCKET</key>
	<string>foodieapp-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674043765675:ios:35a60485e18383e69e28ee</string>
	<key>DATABASE_URL</key>
	<string>https://foodieapp-test.firebaseio.com</string>
</dict>
</plist>